@model SAOnlineProject1.Models.HomePageViewModel

<div class="bg-light border rounded mb-4" style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);">
    <div class="text-end">
        <form asp-action="Index" method="get">
            <div class="row m-2">
                <div class="col-md-6 col-lg-8 col-sm-12">
                    <h6 class="text-info text-center font-weight-bold">Welcome to Our Online Shopping Page</h6>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-12">
                    <div class="d-flex justify-content-end">
                        <input name="searchByName" placeholder="Search by name" class="form-control rounded-left" value="@Model.searchByName" />
                        <button type="submit" class="btn btn-primary text-white font-weight-bold"> <i class="fa fa-search"></i> Search</button>
                    </div>
                </div>
            </div>
            <a asp-action="Index" class="text-primary">Back to Full List</a>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-2 bg-white border-start-0 border-end-1 border-top-0 border-bottom-0 border-secondary d-none d-sm-block">
        <p class="text-success"><strong>Search by Categories</strong></p>
        <hr />
        @if (Model.Categories.Any())
        {
            <div>
                @foreach (var item in Model.Categories)
                {
                    <div class="pb-2">
                        <strong><a asp-action="Index" asp-route-searchByCategory="@item.Name" class="text-info"> <i class="fa fa-hand-point-right fa-lg" style="color: #22511f;">&nbsp</i> @item.Name </a></strong>
                    </div>
                }
            </div>
        }
        <hr />
    </div>

    <div class="col-10">
        <div class="bg-light border rounded">
            @if (Model.ProductList.Any())
            {
                <div class="row d-flex justify-content-center">
                    @foreach (var item in Model.ProductList)
                    {
                        <div class="col-md-4 col-lg-3 col-sm-6 mb-4">
                            <div class="card text-black">
                                <img src="~/Images/@item.HomeImgUrl" class="card-img-top" style="height: 200px; object-fit: cover;" alt="@item.Name" />
                                <div class="card-body">
                                    <div class="text-center">
                                        <h5 class="card-title">@item.Name</h5>
                                        <p class="text-muted mb-4">@item.Description</p>
                                    </div>
                                    <div>
                                        <div class="d-flex justify-content-between">
                                            <span>Price</span><span>$@item.Price</span>
                                        </div>
                                       
                                    </div>
                                    
                                    <div class="text-center mt-3">
                                        <a asp-action="Details" asp-route-Id="@item.Id" class="btn btn-primary">View Details</a>
                                        <a asp-action="AddToCart" asp-route-id="@item.Id" class="btn btn-secondary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
